<nav id="navigation">
  <!-- BAR -->

  <div id="bar">
    <!-- CHAPTER TITLE -->

    {% assign currentChapter = site.collections
      | where_exp: 'collection', 'collection.label == page.collection'
      | first
    %}

    <div id="chapterTitle">
      {{ currentChapter.docs[0].title }}
      <button id="menuButton"></button>
    </div>
    <!-- PROGRESS BAR -->

    {% if page.url == currentChapter.docs[0].url %}
      {% assign isLessonDone = false %}
    {% else %}
      {% assign isLessonDone = true %}
    {% endif %}

    <div id="progressBar">
      {% assign lessons = currentChapter.docs | shift %}
      {% for lesson in lessons %}
        {% if isLessonDone %}
          <a href="{{ lesson.url | relative_url }}" class="done"></a>
        {% else %}
          <a href="{{ lesson.url | relative_url  }}" class="to-do"></a>
        {% endif %}
        {% if lesson.url == page.url %}
          {% assign isLessonDone = false %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <!-- LIST -->

  <div id="list">
    <h2><a href="{{ site.url }}{{ site.baseurl }}">Home</a></h2>

    {% assign chapters = site.collections | where_exp: 'collection', "collection.label != 'posts'" %}

    {% for chapter in chapters %}
      <h2>
        <a href="{{ chapter.docs[0].url | relative_url  }}" class="done"> {{ chapter.docs[0].title }}</a>
      </h2>
      <ul>
        {% assign lessons = chapter.docs | shift %}
        {% for lesson in lessons %}
          <li>
            <a href="{{ lesson.url | relative_url  }}">{{ lesson.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</nav>
