footer {
    position: fixed;
    width: 100%;
    max-width: var(--dimension-max);
    bottom: 0;
    background-color: var(--color-bg-default);
    height: var(--dimension-bar);
    padding: var(--dimension-m);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: var(--dimension-1) solid var(--color-fg-default-tertiary);
}

footer a:only-child {
    margin-left: auto;
}

footer a#prevLessonButton {
    background-color: transparent;
    margin-left: calc(0px - var(--dimension-m));
    color: var(--color-fg-active-primary);
}

footer a#prevLessonButton::before {
    content: "←";
    margin-right: var(--dimension-s);
}